<footer class="bg-light text-center text-lg-start foot">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:rgb(214, 30, 255);">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4">
                    <label for="">
                        <h3>Get in touch with us..!</h3>
                    </label>
                    <br>
                    <input type="text" class="form-control" placeholder="" style="width: 500px;"><br>
                    <button class="btn btn-success">Submit</button>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <br>
            <h4>{{date}}Copyright:</h4>
            <a class="text-dark" href="https://bootstrap.com/bootstrap/" target="blank"><b>Bootstrap.com</b></a>
        </div>
    </div>
    <div class="row">

    </div>
    <!-- Copyright -->
</footer>